h1 {
    color: white;
    font-size: 36px;
    text-align: center;

}

h2 {
    color: white;
    font-size: 30px;
    text-align: center;
}

p {
    color: white;
    font-size: 18px;
}




body {
    background-color: #00255e;
    font-family: "Courier New", "MS Gothic";

}